<!doctype html>
<html>
<head>
    <!-- HTMX -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
    <!-- SSE -->
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.4" integrity="sha384-A986SAtodyH8eg8x8irJnYUk7i9inVQqYigD6qZ9evobksGNIXfeFvDwLSHcp31N" crossorigin="anonymous"></script>
    <!-- Chart.JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Pico CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <title>{{ title }}</title>
</head>

<body>
<main class="container">
<h1>{{ title }}</h1>

<div>
    <h2>Device Configuration</h2>

    <div hx-get="/fragments/config" hx-trigger="load">
        Loading...
    </div>

</div>
<button hx-get="/api/readings"
        hx-swap="none">
    Start readings
</button>
<button hx-post="/api/restart"
        hx-swap="none">
    Restart device
</button>
<div>
    <h2>Live Values</h2>

    <div id="event-stream" hx-ext="sse" sse-connect="/api/events/html"sse-swap="message">
    </div>

    <p>
        Pressure:
        <span id="pressure">--</span>
    </p>

    <p>
        Milliseconds since start:
        <span id="millis">--</span>
    </p>

    <p>
        Run mode:
        <span id="run-mode">--</span>
    </p>
    
</div>

<div hx-get="/fragments/chart" hx-trigger="load">
    Loading chart...
</div>

</main>
</body>
</html>